#clubList{
    display:grid;
    grid-template-columns:repeat(auto-fill, minmax(160px, 1fr));
    gap:14px;
    padding:14px;
}

#clubList > div{
    background:green !important;
    color:white;
    font-weight:bold;
    aspect-ratio:1/1;
    display:flex;
    align-items:center;
    justify-content:center;
}
